/* susy */


//@import "normalize";
//@import "compass";
//@import "breakpoint";
@import "susy";

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 24,
  gutters: 20px/30px,
  column-width: 30px,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: false,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

.container {
  @include container;
}